@model NN.DiscoWarrantyPlugin.ViewModels.NNOptionsViewModel
@{
    // NN Options
    // Last Updated 20/05/2013
    // Sean Benham
}
<div id="warrantyJobNNOptions" class="form" style="width: 650px; margin-top: 15px;">
    <h2>Network Neighborhood Options</h2>
    <table>
        <tr>
            <td>
                <p>
                    Please state the type of claim you wish to submit:
                    <br />
                    
                    @Html.RadioButtonFor(m => m.NTPDevice, false)<label> School Owned Device</label>
                    <br />
                    @Html.RadioButtonFor(m => m.NTPDevice, true)<label>  Victorian NTP Staff Notebook</label>
                    <br />
                    @Html.ValidationMessageFor(m => m.NTPDevice)
                </p>
                <p>
                    What is the primary suspected issue with the device:<br />
                    @Html.DropDownListFor(m => m.Issue, new SelectList(NN.DiscoWarrantyPlugin.Features.NNWarrantyProviderFeature.NNSuspectedIssues, "Key", "Value"))
                    @Html.ValidationMessageFor(m => m.Issue)
                </p>
            </td>
        </tr>
    </table>
</div>
